---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import type { Frontmatter } from '@/types'

const posts = await Astro.glob<Frontmatter>('../../content/blog/*.mdx')
const nonDraftPosts = posts.filter(({ frontmatter }) => !frontmatter.draft)
---

<BaseLayout title={'Blog - NekoChan'} description='NekoChan - Full Stack Web Developer'>
  <h2 class='mb-4 text-3xl font-bold tracking-tight md:text-5xl'>Blog</h2>
  <p class='mb-4 text-gray-600 dark:text-gray-300'>
    I write about web development, programming, and other stuff that I find interesting.
  </p>
  {nonDraftPosts.map(({ frontmatter }) => <PostCard {...frontmatter} />)}
</BaseLayout>
