---
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { Frontmatter } from '@/types'

const posts = await Astro.glob<Frontmatter>('../blog/*.mdx')
const nonDraftPosts = posts.filter(({ frontmatter }) => !frontmatter.draft)

const tags = nonDraftPosts.flatMap(({ frontmatter: { tags } }) =>
  Array.isArray(tags) && tags.length > 0 ? tags : ['untagged']
)
const uniqueTags = [...new Set(tags)]

const getCount = (tag: string) => tags.filter((t) => t === tag).length
---

<BaseLayout title={'Tags - NekoChan'} description='All the tags in this blog.'>
  <div class='mb-10'>
    <h2 class='mb-4 text-3xl font-bold tracking-tight md:text-5xl'>Tags</h2>
    <p class='text-gray-600 dark:text-gray-300'>All the tags in this blog.</p>
  </div>
  <ul class='flex gap-x-2'>
    {
      uniqueTags.length ? (
        uniqueTags.map((tag) => (
          <li>
            <a
              href={`/tags/${tag}`}
              class='px-2 py-1 text-sm rounded text-gray-600 bg-gray-200 hover:text-gray-700 hover:bg-gray-300 dark:text-gray-300 dark:bg-gray-800 dark:hover:text-gray-200 dark:hover:bg-gray-700 transition-colors duration-300'
            >
              #{tag} ({getCount(tag)})
            </a>
          </li>
        ))
      ) : (
        <li class='text-gray-600 dark:text-gray-300'>No tags yet.</li>
      )
    }
  </ul>
</BaseLayout>
