---
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { SiteMetadata } from '@/types'

const metadata: SiteMetadata = {
  title: '404 Not Found – NekoChan',
  description: 'Oops! It looks like this page is lost in space!',
}
---

<BaseLayout {...metadata}>
  <h1 class='font-bold text-5xl'>404</h1>
  <h2 class='mb-2 text-2xl font-bold md:text-3xl'>Oops! You weren't supposed to see this.</h2>
  <p class='mb-4 text-lg text-gray-500 dark:text-gray-300'>
    The page you’re looking for doesn’t exist.
  </p>
  <p class='text-lg'>
    <a href='/' class='font-semibold text-blue-400'>Click here to go back</a>
    and remember: <span class='underline italic'>You haven't seen anything.</span>
  </p>
</BaseLayout>
