---
import { Image } from '@astrojs/image/components'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import avatar from '@/assets/81856932_p0_400x400.jpg'
import type { Frontmatter, SiteMetadata } from '@/types'

const metadata: SiteMetadata = {
  title: 'NekoChan’s Blog',
  description: 'NekoChan - Full Stack Web Developer',
}

const posts = await Astro.glob<Frontmatter>('./blog/*.mdx')
const nonDraftPosts = posts.filter(({ frontmatter }) => !frontmatter.draft)
const sortedPosts = nonDraftPosts.sort(
  ({ frontmatter: { publishedAt: a } }, { frontmatter: { publishedAt: b } }) =>
    new Date(b).valueOf() - new Date(a).valueOf()
)
const pinnedPosts = sortedPosts.filter(({ frontmatter }) => frontmatter.pinned)
const unpinnedPosts = sortedPosts.filter(({ frontmatter }) => !frontmatter.pinned)
---

<BaseLayout {...metadata}>
  <div class='flex flex-col-reverse sm:flex-row sm:justify-between mb-16'>
    <div class='flex flex-col pr-8'>
      <h1 class='font-bold text-3xl md:text-5xl tracking-tight mb-1'>NekoChan</h1>
      <h2 class='text-gray-700 dark:text-gray-200 mb-4'>Full Stack Web Developer</h2>
      <p class='text-gray-600 dark:text-gray-300'>
        Enjoy coding and learning new things.<br />
        Making web applications with Next.js / Astro.<br />
      </p>
    </div>
    <div class='w-20 sm:w-32 relative mb-8 sm:mb-0'>
      <Image
        src={avatar}
        alt='NekoChan'
        class='rounded-full'
        draggable={false}
        loading='eager'
        format='webp'
      />
    </div>
  </div>
  <div class='space-y-6'>
    {
      !!pinnedPosts.length && (
        <div class='space-y-4'>
          <h3 class='text-xl font-semibold'>Pinned</h3>
          {pinnedPosts.map(({ frontmatter }) => (
            <PostCard {...frontmatter} />
          ))}
        </div>
      )
    }
    <div class='space-y-4'>
      <h3 class='text-xl font-semibold'>Latest Posts</h3>
      {
        nonDraftPosts.length ? (
          unpinnedPosts.map(({ frontmatter }) => <PostCard {...frontmatter} />)
        ) : (
          <p class='text-gray-600 dark:text-gray-300'>No posts yet.</p>
        )
      }
    </div>
  </div>
</BaseLayout>
