---
import BaseLayout from '@/layouts/BaseLayout.astro'

const posts = await Astro.glob('../posts/*.mdx')
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft)
---

<BaseLayout>
  <h1 class='text-6xl text-orange-400'>Astro Blog</h1>
  <ul>
    {
      nonDraftPosts.map((post) => (
        <li>
          <a href={`/post/${post.frontmatter.slug ?? post.file.split('/').pop()?.split('.').shift()}`}>
            {post.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
