---
import BaseLayout from '@/layouts/BaseLayout.astro'
import SnippetCard from '@/components/SnippetCard.astro'
import type { Frontmatter } from '@/types'

const snippets = await Astro.glob<Frontmatter>('./snippets/*.mdx')
const nonDraftSnippets = snippets.filter(({ frontmatter }) => !frontmatter.draft)
---

<BaseLayout title='Code Snippets – NekoChan' description='A collection of code snippets.'>
  <h2 class='mb-4 text-3xl font-bold tracking-tight md:text-5xl'>Code Snippets</h2>
  <p class='mb-4 text-gray-600 dark:text-gray-300'>
    These are a collection of code snippets I've used in the past and saved. Some are Serverless Functions, which
    include set up instructions. Others are anything from random CSS snippets to Node.js scripts.
  </p>
  <div class='grid w-full grid-cols-1 gap-4 my-2 mt-4 sm:grid-cols-2'>
    {nonDraftSnippets.map(({ frontmatter }) => <SnippetCard {...frontmatter} />)}
  </div>
</BaseLayout>
