---
import BaseLayout from '@/layouts/BaseLayout.astro'
import SnippetCard from '@/components/SnippetCard.astro'
import type { Frontmatter, SiteMetadata } from '@/types'

const metadata: SiteMetadata = {
  title: 'Code Snippets – NekoChan',
  description: 'A collection of code snippets.',
}

const snippets = await Astro.glob<Frontmatter>('./snippets/*.mdx')
const nonDraftSnippets = snippets
  .filter(({ frontmatter }) => !frontmatter.draft)
  .sort((a, b) => {
    const aDate = new Date(a.frontmatter.publishedAt)
    const bDate = new Date(b.frontmatter.publishedAt)
    return bDate.getTime() - aDate.getTime()
  })
---

<BaseLayout {...metadata}>
  <div class='mb-16'>
    <h2 class='mb-4 text-3xl font-bold tracking-tight md:text-5xl'>Code Snippets</h2>
    <p class='text-gray-600 dark:text-gray-300'>A collection of code snippets.</p>
  </div>
  <div class='grid w-full grid-cols-1 gap-4 my-2 mt-4 sm:grid-cols-2'>
    {
      nonDraftSnippets.length ? (
        nonDraftSnippets.map(({ frontmatter }) => <SnippetCard {...frontmatter} />)
      ) : (
        <p class='text-gray-600 dark:text-gray-300'>No snippets yet.</p>
      )
    }
  </div>
</BaseLayout>
