---
---

<footer
  class='flex flex-col justify-center items-center gap-y-2 w-full h-28 sm:h-40 max-w-2xl mx-auto mt-auto text-gray-500'
>
  <span>
    Copyright © 2022 By
    <a href='https://github.com/NekoChanTaiwan' target='_blank' class='hover:text-gray-400'>NekoChan</a>
  </span>
</footer>
