---
import { cx } from '@/lib/utils'

const items = [{ name: 'Home', url: '/' }]
---

<nav
  class='flex items-center justify-between w-full relative max-w-2xl border-gray-200 dark:border-gray-700 mx-auto pt-8 pb-8 sm:pb-16 text-gray-900 bg-gray-50 dark:bg-gray-900 bg-opacity-60 dark:text-gray-100'
>
  <div class='ml-[-0.60rem]'>
    {
      items.map(({ name, url }) => (
        <a
          class={cx(
            'hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors',
            Astro.url.pathname === url ? 'text-gray-800 dark:text-gray-200' : 'text-gray-600 dark:text-gray-400'
          )}
          href={url}
        >
          {name}
        </a>
      ))
    }
  </div>
</nav>
