---
import ThemeToggle from './ThemeToggle'
import { cx } from '@/lib/utils'

const items = [
  { name: 'Home', url: '/' },
  { name: 'Snippets', url: '/snippets/' },
]
---

<nav
  class='flex items-center justify-between w-full max-w-2xl border-gray-200 dark:border-gray-700 mx-auto pt-8 pb-8 sm:pb-16 text-gray-900 dark:text-gray-100'
>
  <div class='ml-[-0.60rem]'>
    {
      items.map(({ name, url }) => (
        <a
          class={cx(
            'inline-block px-3 py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800 transition-[background-color]',
            Astro.url.pathname === url ? 'text-gray-800 dark:text-gray-200' : 'text-gray-400'
          )}
          href={url}
        >
          {name}
        </a>
      ))
    }
  </div>
  <ThemeToggle client:load />
</nav>
