---
interface Props {
  slug: string
  title: string
  description: string
  minutesRead: string
}

const { slug, title, description, minutesRead } = Astro.props
---

<a
  href={`/blog/${slug}`}
  class='flex flex-col mb-4 p-2 sm:p-4 rounded-lg transition-[background-color] text-gray-600 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-800'
  rel='prefetch'
>
  <span class='flex justify-between items-center mb-2'>
    <h4 class='text-lg font-medium text-gray-900 md:text-xl dark:text-gray-100'>{title}</h4>
    <span class='shrink-0'>{minutesRead}</span>
  </span>
  <p class='line-clamp-2'>{description}</p>
</a>
