---
import type { Frontmatter } from '@/types'

const { slug, title, description } = Astro.props as Frontmatter
---

<a
  href={`/snippets/${slug}`}
  class='border border-grey-200 dark:border-gray-800 rounded p-4 w-full hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors duration-300'
>
  <h3 class='text-lg font-bold text-left mt-2 text-gray-900 dark:text-gray-100'>
    {title}
  </h3>
  <p class='mt-1 text-gray-700 dark:text-gray-400'>{description}</p>
</a>
