---
import FootnoteBackref from './icons/FootnoteBackref.astro'

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string
}

const { href } = Astro.props
---

<a
  class='no-underline'
  {...(!href.startsWith('#') && { target: '_blank', rel: 'noopener noreferrer' })}
  {...Astro.props}
>
  {
    Astro.props['aria-describedby'] === 'footnote-label' ? (
      <>
        [<slot />]
      </>
    ) : Astro.props['aria-label'] === 'Back to content' ? (
      <FootnoteBackref className='h-6 w-6 inline-block -rotate-90' />
    ) : (
      <slot />
    )
  }
</a>
