---
import { cva, VariantProps } from 'class-variance-authority'
import Info from './icons/Info.astro'
import Success from './icons/Success.astro'
import Warning from './icons/Warning.astro'
import Error from './icons/Error.astro'

interface Props extends VariantProps<typeof containerStyles> {
  header: string
}

const containerStyles = cva('flex flex-col rounded-md border-2 p-3 sm:p-4 my-8', {
  variants: {
    type: {
      info: 'border-blue-500 text-blue-500',
      success: 'border-green-500 text-green-500',
      warning: 'border-yellow-500 text-yellow-500',
      error: 'border-red-500 text-red-500',
    },
  },
  defaultVariants: {
    type: 'info',
  },
})

const { type = 'info', header = type?.toUpperCase() } = Astro.props

if (!type) return

const Icon = {
  info: Info,
  success: Success,
  warning: Warning,
  error: Error,
}[type]
---

<div class={containerStyles({ type })}>
  <div class='flex items-center'>
    <i class='shrink-0'>
      <Icon className='w-6 h-6' />
    </i>
    <div class='ml-2 sm:ml-3 font-bold'>{header}</div>
  </div>
  <div class='ml-8 sm:ml-9 text-black dark:text-white'>
    <slot />
  </div>
</div>
