---
interface Props extends astroHTML.JSX.HTMLAttributes {}
---

{
  Astro.props.className === 'footnotes' ? (
    <>
      <hr />
      <slot />
    </>
  ) : (
    <section {...Astro.props}>
      <slot />
    </section>
  )
}
