---
import Anchor from './icons/Anchor.astro'

interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<h3 class='group flex items-center sm:ml-[-24px] lg:ml-[-32px]' {...Astro.props}>
  <a href={`#${Astro.props.id}`} class='group-hover:opacity-100 opacity-0 hidden sm:inline'>
    <Anchor className='mr-2 w-4 h-4 lg:w-6 lg:h-6' />
  </a>
  <slot />
</h3>
