---
type Props = astroHTML.JSX.LiHTMLAttributes
---

<li {...Astro.props}>
  {
    Astro.props.className === 'task-list-item' ? (
      <label>
        <slot />
      </label>
    ) : (
      <slot />
    )
  }
</li>
