---
interface Props {
  number: string | number
  Element?: string
}

const { number, Element = 'h4' } = Astro.props
---

<Element>
  <span class='flex items-center'>
    <span
      class='flex items-center justify-center border border-gray-200 mr-3 font-bold dark:border-gray-800 rounded-full h-8 w-8 text-blue-500 select-none'
    >
      {number}
    </span>
    <slot />
  </span>
</Element>
