---
import twemoji from 'twemoji'

interface Props {
  emoji: string
}

const { emoji } = Astro.props

const codePoint = twemoji.convert.toCodePoint(
  emoji.indexOf(String.fromCharCode(0x200d)) < 0 ? emoji.replace(/\uFE0F/g, '') : emoji
)
---

<span class='not-prose inline-block align-text-bottom'>
  <img
    class='w-[1.375em] h-[1.375em]'
    src={`https://twemoji.maxcdn.com/v/latest/72x72/${codePoint}.png`}
    alt={emoji}
    draggable={false}
    width='72'
    height='72'
  />
</span>
