---
import BaseHead from '@/components/BaseHead.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
import type { BaseHeadProps } from '@/components/BaseHead.astro'

const { title, description } = Astro.props as BaseHeadProps
---

<html lang='en' class='scroll-smooth font-serif antialiased'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class='flex flex-col min-h-screen px-6 overflow-x-hidden [overflow:overlay] bg-gray-100 text-black dark:bg-gray-900 dark:text-white transition-[background-color] duration-300 selection:bg-[#67769660]'
  >
    <Nav />
    <main class='max-w-2xl mx-auto w-full'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
