---
import '@fontsource/inter'
import '@fontsource/fira-code'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  title: string
  description: string
  date: string
}>

const { frontmatter } = Astro.props
---

<html lang='en' class='scroll-smooth font-serif antialiased'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme')
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
      })()

      document.documentElement.setAttribute('style', `color-scheme: ${theme};`)
      document.documentElement.setAttribute('data-theme', theme)
      window.localStorage.setItem('theme', theme)
    </script>
  </head>
  <body>
    <article class='prose lg:prose-xl prose-img:rounded-md mx-auto dark:prose-invert'>
      <slot />
    </article>
  </body>
</html>
