---
import '@/styles/base.css'
import '@fontsource/roboto'
import '@fontsource/fira-code'

const { frontmatter } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <article class='prose prose-img:rounded-md mx-auto'>
      <slot />
    </article>
  </body>
</html>
