---
import BaseLayout from './BaseLayout.astro'
import type { MarkdownLayoutProps } from 'astro'
import type { Frontmatter } from '@/types'

type Props = MarkdownLayoutProps<Frontmatter>

const { frontmatter } = Astro.props
---

<BaseLayout title={`${frontmatter.title} – NekoChan`} description={frontmatter.description}>
  <h1 class='mb-6 text-3xl font-bold tracking-tight md:text-5xl'>{frontmatter.title}</h1>
  <article class='prose lg:prose-xl prose-img:rounded-md mx-auto dark:prose-invert max-w-none w-full'>
    <slot />
  </article>
</BaseLayout>
